{% extends "base.html" %}
{% block content %}
<div class="container">
<form class="form-models" method="post" action='/datasets/{{dataset}}/modelprocess/'>
  <h2 class="form-models-heading" align='center'>选择模型算法</h2>
  <div class="row">
   
  <div class="col-sm-3">
  <h3>算法</h3>
  <select name="model">
		<optgroup label="分类">
        {% for mod in clfmodels %}
			<option value="{{mod}}.Classification">{{mod}}</option>       
		{% endfor %}
		</optgroup>
		<optgroup label="回归">
		{% for mod in predmodels %}
			<option value="{{mod}}.Regression">{{mod}}</option>       
		{% endfor %}
		</optgroup>

  </select>
  </div>
  

  </div></br>
  <button class="btn btn-lg btn-primary btn-block" type="submit" align='center'>拟合并输出测试误差</button>
  </br>
</form>
</div>
{% endblock %}
